<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Java coffee beans", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler float-right" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </div>
              <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-white">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Buy Coffee", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Blogs", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Subscription", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Login", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink("Logout", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class=" body-content">
        @RenderBody()
        <hr />
        <footer class="bg-dark text-white pt-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Contact Info</h3>
                        <p>15 Vowes st, Phillip ACT, 2606.</p>
                        <p>Call Us: 049389384</p>
                        <p>Email: kfdkjfj@email.com</p>
                    </div>

                    <div class="col"> <h3>Connect with us</h3>
                    
                                      <div class="d-flex flex-row">
                                          <div class="p-2">Facebook</div>
                                          <div class="p-2">Youtube</div>
                                          <div class="p-2">Twitter</div>
                                      </div>
                    
                    </div>
                    <div class="col"> <h3>Our policies.</h3> 
                    
                                      <div class="d-flex flex-column">
                                          <div class="p-1">Terms and conditions</div>
                                          <div class="p-1">About us</div>
                                          <div class="p-1">Our customer policy</div>
                                          <div class="p-1">Subscription</div>
                                          <div class="p-1">Blogs</div>

                                      </div></div>

                </div>
            </div>
            <p class="text-center text-white btn-secondary p-2">&copy; @DateTime.Now.Year - Caffenio beans</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
